.header {
  background-color: var(--color-bg-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--color-light);
}

.menu {
  position: absolute;
  top: 7rem;
  right: 0.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color:var(--color-bg-secondary);
  opacity: 0;
  transform: scale(0);
  transition: opacity .4s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu > .list {
  flex-direction: column;
}

.list-link.current {
  color: var(--color-light);
}

.icon-brand {
  display: inline;
  position: relative;
  font-size: 2.6rem;
  top: 0.6rem;
  margin-right: 0.5rem;
  padding: 0 0.3rem;
  border: 1px solid var(--color-light);
  border-radius: 0.3rem;
}

.close-menu-icon {
  display: none;
}

.btn {
  cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--color-light);
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: block;
}
/* Header JavaScript Styles */
.header.activated {
  box-shadow: 0 1px .5rem var(--color-transparent-lt);
}

.menu.activated {
    box-shadow: 1px 1px 1rem var(--color-transparent-lt);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}
